@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    background-color: #eeeee4;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #500000;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

#nav li a:hover {
    background-color: #eeeee4;
    color: #500000;
}