@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

body {
    background-image: url("assets/code-background.jpg");
    background-size: cover;
}

#nav {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    backdrop-filter: saturate(180%) blur(20px);
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

#nav li a:hover {
    background-color: rgba(255, 255, 255, 0.2);

}

.title {
    font-size: 110px;
    text-align: center;
    font-family: 'Bebas Neue';
    margin: 0;
    margin-top: 20px;
    color: white;
    letter-spacing: 6px;
    text-shadow: 5px 5px black;
}

#landing-desc {
    font-size: 20px;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    margin: 0;
    color: white;
    text-shadow: 2px 2px black;
}

.modules:after {
    content: "";
    display: table;
    clear: both;
}

.module-portfolio {
    float: left;
    width: 29%;
    position: relative;
    color: white;
    text-shadow: 3px 3px black;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.module-portfolio::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    filter: saturate(180%) blur(5px);
}

.module-portfolio h1 {
    margin: 15px;
    margin-top: 30px;
}

.module-portfolio p {
    background: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.module-portfolio button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.module-portfolio button:hover {
    background-color: #555;
    color: white;
}

.module-qualifications {
    float: left;
    width: 33%;
    position: relative;
    color: white;
    text-shadow: 3px 3px black;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.module-qualifications::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    filter: blur(5px) saturate(180%);
}

.module-qualifications h1 {
    margin: 15px;
    margin-top: 25px;
}

.module-qualifications p {
    background: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.module-qualifications button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.module-qualifications button:hover {
    background-color: #555;
    color: white;
}
.module-service {
    float: left;
    width: 29%;
    position: relative;
    color: white;
    text-shadow: 3px 3px black;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.module-service::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    filter: blur(5px) saturate(180%);
}

.module-service h1 {
    margin: 15px;
    margin-top: 25px;
}

.module-service p {
    background: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.module-service button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.module-service button:hover {
    background-color: #555;
    color: white;
}

.bottom-break {
    margin-top: 10px;
}

.subtitle {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

#pdf {
    position: static;
    margin-left: 20%;
}

.columns:after {
    content: "";
    display: table;
    clear: both;
}

.block {
    float: left;
    width: 29%;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(5px);
    text-align: center;
}

.block-img img {
    border: 2px solid rgb(199, 199, 199);
    padding: 20px;
    margin-left: 30px;
}

.block-text {
    font-family: 'Kanit', sans-serif;
    color: white;
    padding: 30px;
}

.link {
    color: rgb(199, 239, 239);
}

.link:visited {
    color: rgb(199, 239, 239);
}

.link:hover {
    text-decoration: none;
}

.passage {
    text-align: justify;
    font-family: 'Kanit', sans-serif;
    margin: 15px;
}

.buttons {
    margin: auto;
}